<cfoutput>
	<h1>Lucee #server.lucee.version# Live on Heroku</h1>
</cfoutput>
<pre>
	- Note the new system key under server scope which now has environment and properties for easy access
</pre>

<h1>Server Variables</h1>
<cfdump var="#server#">